html {
  background-color: orange;
}

canvas { 
  display: block; 
  margin: 0 auto; 
  background: #fff; 
}


/*Instead of flashing a white screen, an orange screen is shown while the page loads.*/
div#load_screen{
  background: orange;
  opacity: 1;
  position: fixed;
  z-index:10;
  top: 0px;
  width: 100%;
  height: 1600px;
}
div#load_screen > div#loading{
  color:#FFF;
  width:120px;
  height:24px;
  margin: 300px auto;
}

.confirmModal {
  background-color: black
}

#modal1 {
  background-color: purple
}

#modal2 {
  background-color: black
}

#nameInput {
  color: white;
}

#chat-container,
#loginform {
    margin: 0 auto;
    background: gray;
    opacity: ;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    text-align: center;
}

#username {
    color: white;
    text-align: center;
    padding: 10px;
}

#messageInput {
    width: 180px;
    height: 28px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.chat-messages {
    text-align: left;
    margin: 0 auto;
    /*margin-bottom: 15px;*/
    /*margin-top: 15px;*/
    padding: 10px;
    background: white;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    overflow: auto;
    color: black;
}

.messages {
    margin-top: -10px;
}

.modal-trigger {
  width: 100%
}

.modal-footer {
  background-color: gray
}

.msgln {
    margin: 0 0 2px 0;
}
